Port 2222
ListenAddress 127.0.0.1
HostKey /run/mcmp-ssh/host-key
PidFile /run/mcmp-ssh/sshd.pid
AuthorizedKeysFile /run/mcmp-ssh/authorized_keys
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitRootLogin no
UsePAM no
AllowUsers mcmp
AllowTcpForwarding remote
AllowStreamLocalForwarding no
PermitListen 127.0.0.1:18084
PermitOpen none
GatewayPorts no
PermitTTY no
X11Forwarding no
AllowAgentForwarding no
PermitTunnel no
PermitUserRC no
MaxSessions 0
MaxAuthTries 3
ClientAliveInterval 15
ClientAliveCountMax 3
LogLevel ERROR
